<h2>Orders</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Type</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#650786</th>
      <td>Group</td>
      <td>2021-02-02</td>
      <td>Fulfilled</td>
      <td>$50,000.00</td>
    </tr>
  </tbody>
</table>
