<h2>Active Group Buy</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Group Name</th>
      <th scope="col">Date Created</th>
      <th scope="col">Number of Participants</th>
    </tr>
  </thead>
  <% @lobbies.each do |lobby| %>
    <tbody>
      <tr>
        <th scope="row"><%= link_to lobby.name, lobby_path(lobby) %></th>
        <td><%= lobby.created_at %></td>
        <td><%= lobby.lobby_participants.count + 1 %></td>
      </tr>
    </tbody>
  <% end %>
</table>
