<div class="container">
  <h1 class="d-flex justify-content-center">YOUR DASHBOARD</h1>
  <br>
  <%= render 'dashboard/your_lobbies' %>
  <br>
  <%= render 'dashboard/lobby_invitations' %>
  <br>
  <%= render 'dashboard/your_orders' %>
</div>
