<% if @lobby.lobby_participants != 0 %>
  <% if @lobby.ready? %>
    <%= link_to "Confirm Order", '', class: 'btn btn-flat close-rounded-trasparent' %>
  <% else %>
    <button type="button" class="btn btn-flat close-rounded-trasparent" disabled>Confirm Order</button>
    <p class='text-left'>*All participants must have accepted the lobby invitation before you can confirm your order.*</p>
  <% end %>
<% end %>
