<% @lobby.lobby_participants.each do |lobby_participant| %>
  <div class="lobby-card-user">
    <%= image_tag "antoine-profile.png", class: "profile-img" %>
    <div class="pl-3" style="max-width: 500px;">
      <h5><%= lobby_participant.user.username %></h5>
      <p>Invitation status: <%= lobby_participant.invitation_status %></p>
    </div>
      <% if lobby_participant.cart.nil? %>
        <p style="text-align: right;">Cart is empty.</p>
      <% else %>
        <p style="text-align: right;">Total: <%= number_to_currency(lobby_participant.cart.total_price) %></p>
      <% end %>
  </div>
  <hr class="hr-product">
<% end %>

