<h1>Your Cart</h1>
<div>
  <% @lobby.user.carts.last.order_items.each do |order_item| %>
    <ul>
      <li><%= order_item.quantity %>x <%= order_item.product.name %></li>
      <li>Total: <%= number_to_currency(order_item.total_price) %></li>
    </ul>
  <% end %>
</div>
