// table {
//   border-collapse: collapse;
// }
// td {
//   padding: 0.5em;
// }
// td.quantity {
//   white-space: nowrap;
// }
// td.quantity::after {
//   content: " ×";
// }
// td.price {
//   font-weight: bold;
//   text-align: right;
// }
// tfoot {
//   th, th.price {
//     font-weight: bold;
//     padding-top: 1em;
//   }
//   th {
//     text-align: right;
//   }
//   th.price {
//     border-top: solid thin;
//   }
// }

// article {
//   h2 {
//     margin-top: 0;
//   }
//   background: white;
//   border-radius: 0.5em;
//   margin: 1em;
//   padding: 1.414em;
//   @media (min-width: 30em) {
//     margin: 0; // desktop doesn't need this margin
//   }
// }

.cart-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.cart-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.cart-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cart-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.cart-product .cart-product-infos {
  padding: 16px;
}
