.cart-font {
  h2 {
    color: $braid-green;
  }

  p {
    color: $braid-green;
  }
}

.cart-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.cart-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.cart-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cart-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.cart-product .cart-product-infos {
  padding: 16px;
}

.cart-btn-group {
  color: white;
  background-color: $braid-green;
  border-color: $braid-green;
  transition: background-color .5s;
}

.cart-btn-group:hover {
  background-color: darken($braid-green, 10%);
}

.cart-btn-single {
  color: white;
  background-color: $black;
  border-color: $black;
  transition: background-color .5s;
}

.cart-btn-single:hover {
  background-color: lighten($black, 25%);
}

