.metric {
  padding: 15px 40px 0px 15px;
}

.tiny-button-green {
  color: #3E7A53;
  margin-left: 10px;
  background-color: #ECF7F0;
  border-radius: 15px;
  padding: 1px 3px;
}

.tiny-button-red {
  color: #A55E5C;
  margin-left: 10px;
  background-color: #FEF1F1;
  border-radius: 15px;
  padding: 1px 3px;
}
