.store-info-container{
  display: flex;
  text-align: space-araound
}

.product-store{
  border-radius: 50%;
}

.product-store-info{
  margin-left:24px;
}
.product-store-name{
  font-family: roboto;
  font-size: 32px;
  font-weight: 500;
}

.product-store-address{
  font-family: roboto;
  font-size: 16px;
  font-weight: 700;
  color: #51A995;
}

.product-store-description{
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
}

.product-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
}

.product-description{
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
}

.product-mt{
  margin-top: 32px;
}
.product-breakpoint p{
  font-family: roboto;
  font-size: 20px;
  font-weight: 400;
  margin-bottom:0;
}

.hr-product{
  border: 1px solid #C3C3BD;
}

.btn-breakpoint-one{
  margin-left: -4px;
}
