.store-info-container{
  display: flex;
  text-align: space-araound
}

.product-store{
  border-radius: 50%;
}

.show-product-store{
  border-radius: 50%;
  height: 100%;
  width: 125px;
}

.product-store-info{
  margin-left:24px;
}

.product-mt{
  margin-top: 32px;
}


.hr-product{
  border: 1px solid #C3C3BD;
}


