<div class="container">
  <% if policy(Store).create? %>
    <%= link_to "Create a new store", new_store_path %>
  <% end %>
  <ul>
    <% @stores.each do |store| %>
      <li>
        <%= link_to store.name, store_path(store) %> | City: <%= store.address %>
        <br>
        <%= store.description %>
      </li>
      <br>
    <% end %>
  </ul>
</div>
