<% if session[:cart_id] %>
  <%= link_to cart_path(session[:cart_id]) do %>
    <div id="cd-cart-trigger">
      <i class="fas fa-shopping-bag" style="border-radius: 3px; font-size: 19px; padding: 10px 25px;"></i>
    </div>
  <% end %>
<% else %>
  <%= link_to root_path, notice: 'Your cart is currently empty' do %>
    <div id="cd-cart-trigger">
      <i class="fas fa-shopping-bag" style="border-radius: 3px; font-size: 19px; padding: 10px 25px;"></i>
    </div>
  <% end %>
<% end %>
