<h2>YOUR LOBBIES</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Lobby Name</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Lobby example (PLACEHOLDER)</th>
      <td>Lobby creation date (PLACEHOLDER)</td>
      <td>
        <div class="btn btn-success">Accept</div>
        <div class="btn btn-danger">Decline</div>
      </td>
    </tr>
  </tbody>
</table>
