
<div class="banner">
  <div class="container">
        <div class="banner-content">
          <h4>Shop together, save together</h4>
          <p>Shop with friends at all your favorite stores and get discounts when the value of your collective order reaches a breakpoint</p>
          <div class="form-group">
            <%= link_to "Shop now", stores_path, class: "btn btn-flat" %>
          </div>
        </div>
        <div class="banner-image">

        </div>
      </div>
  </div>
</div>




