<div class="container">
  <% if notice %>
    <aside id="notice"><%= notice %></aside>
  <% end %>

  <h2>Your Cart</h2>
  <ul>    
    <% @cart.order_items.each do |item| %>
      <li><%= item.quantity %>&times; <%= item.product.name %></li>
    <% end %>
  </ul>
</div>