.banner {
  margin-bottom: 20px;
  margin-top: 20px;
}



.banner-content {
  flex-grow: 1;
  align-content: left;
}

.banner img {
  height: 321px;
  width: 100%;
  object-fit: cover;
}



.banner p {
  padding: 8px 0px;
}
