.banner {
  margin: 150px 20px;
}


.banner-content {
  flex-grow: 1;
  align-content: left;
}

.banner-image {
  flex-shrink: 1;
  align-content: left;
  max-width: 100%;
  padding: 50px 0;
}



.banner p {
  padding: 8px 0px;
}
