.btn-ghost {
  color: #4A4A4A;
  background-color: $white;
  height: 57px;
  border: 1px solid #7C7D7D;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
  margin-top: 12px;
}



.btn-flat {
  color: white;
  padding: 16px;
  border-radius: 4px;
  background: $braid-green;
  transition: background 0.3s ease;
  width: 180px;
  height: 60px;
}


.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}


