.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 4px 12px;
  margin-top: 6px;
}



.btn-flat {
  color: white;
  padding: 16px;
  border-radius: 4px;
  background: $braid-green;
  transition: background 0.3s ease;
  width: 180px;
  height: 60px;
}


.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-breakpoint-price{
  width: 88px;
  height: 32px;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.btn-breakpoint-one{
  width: 88px;
  height: 32px;
  background: #51A995;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: white;
}
.btn-breakpoint-two{
  width: 88px;
  height: 32px;
  background: #7F80F7;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: white;
}
.btn-breakpoint-three{
  width: 88px;
  height: 32px;
  background: #E7B045;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: white;
}
.btn-breakpoint-four{
  width: 88px;
  height: 32px;
  background: #D86C56;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: white;
}
