.btn-ghost {
  color: #4A4A4A;
  background-color: $white;
  height: 57px;
  border: 1px solid #7C7D7D;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
}



.btn-flat {
  color: white;
  padding: 16px;
  border-radius: 4px;
  background: $braid-green;
  width: 180px;
  height: 60px;
}

.btn-black {
  color: white;
  padding: 5px;
  border-radius: 0px;
  background: $black;
  width: 134px;
  height: 40px;
  border-radius: 0px;
}

.btn-black {
  color: white;
  padding: 5px;
  border-radius: 0px;
  background: $black;
  width: 134px;
  height: 40px;
  border-radius: 0px;
}

.btn-transparent {
  color: $black;;
  padding: 7px;
  border: 1px solid $black;
  border-radius: 0px;
  background: transparent;
  width: 134px;
  height: 40px;
  border-radius: 0px;
}


.btn-black:hover {
  color: $white !important;
  text-decoration: none;
}

.btn-price {
  border-radius: 0px;
  border: 1px solid #7C7D7D;
  margin-top: 5px;
}


.btn-breakpoint-price{
  width: 88px;
  height: 32px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
  padding: 5px;
}

.btn-breakpoint-one{
  width: 88px;
  height: 32px;
  background: #51A995;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: white;
  border-radius: 0px;
  padding: 5px;
}
.btn-breakpoint-two{
  width: 88px;
  height: 32px;
  background: #7F80F7;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: white;
  border-radius: 0px;

}
.btn-breakpoint-three{
  width: 88px;
  height: 32px;
  background: #E7B045;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: white;
  border-radius: 0px;
}
.btn-breakpoint-four{
  width: 88px;
  height: 32px;
  background: #D86C56;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: white;
  border-radius: 0px;
}
