.cart-sidebar {
  position: fixed;
  right: -400px;
  height: 100vh;
  width: 400px;
  background-color: $braid-orange;
  z-index: 100;
  border: solid 1px black;

  transition: right 1s;
}

.show-sidebar {
  right: 0px;
}
