.navbar-lewagon {
  justify-content: space-between;
  background: $braid-orange;
  border-bottom: 0.1px solid #494949;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 110px;
}

.navbar-lewagon .navbar-icon img {
  heigth: 20px;
}
